
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
}
body {
  margin: 0;
  padding: 0 7%;
  color: dimgray;
  text-align: center;
  background-color: gainsboro;
}
h1 {
  font-size: 4rem;
  padding: 2rem 0 0 0;
}
h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-transform: capitalize;
}
h5 {
  font-size: 2rem;
}
img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
p {
  text-align: center;
  font-size: 2.5rem;
}
form {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
    border: 1px solid dimgray;
    color: dimgray;
    font-size: 1.5rem;
    font-family: "Quicksand";
    padding: 1rem;
    height: 4.5rem;
    width: 30rem;
    max-width: 90%;
    border-radius: 10px 0 0 10px;
}
input:focus {
  outline: none;
}
i {
  color: ivory;
}
button {
  border: 1px solid dimgray;
  background-color: dimgray;
  color: ivory;
  padding: 1rem;
  height: 4.5rem;
  border-radius: 0 10px 10px 0;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}
.search {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
}
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  justify-content: space-evenly;
}
.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  justify-content: space-evenly;
  background-color: ivory;
  border-radius: 4px;
}
.card {
  padding: 1rem;
  color: dimgray;
  background-color: gainsboro;
  margin-bottom: 1rem;
  transition: all .5s;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: ivory;
  border-radius: 4px;
}
.MiniCard {
  padding: 1rem;
  color: dimgray;
  background-color: ivory;
}
.cardClicked {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  color: dimgray;
  background-color: ivory;
  border: none;
  margin-bottom: -5px;
  border-radius: 4px;
}
.heading {
  margin: 1rem;
}
.notFound {
  padding: 2rem 0;
  margin: 1rem;
}
